<html>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<head>
		<title>Demonstration</title>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
					  <h5 class="card-title">Slide1</h5>
					  <img src="{{url_for('static', filename="diapo1.jpeg")}}" class="img-thumbnail" alt="...">
					  <a href="{{url_for('cloud')}}" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
					  <h5 class="card-title">Slide2</h5>
					  <img src="{{url_for('static', filename="diapo1.jpeg")}}" class="img-thumbnail" alt="...">
					  <a href="{{url_for('cloud')}}" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		
		</div>
	</body>
</html>